body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {

    background-color: #06070b;
    border-bottom: 4px solid #39b8c7;
}


.header .container {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 200px ;
    padding-left: 200px;
}

.agora {

     font-weight: bold;
}

.container h1 {

    color:#39b8c7; 
}

.navbar {

    display: flex;
    flex-direction: row;
    gap:50px;

}

.navbar li {

    color:#FFD900B8
;
    list-style: none;

}
.navbar a {
    color:orange;
    text-decoration: none; 
}

.banner {

    margin-top: -10;
    width: 100%;
    height: 500px;
    background-image: url(../assets/imgs/bg-jelly-fish-para-home.png);

    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}


.banner p {

    color: #e0dfde;
    font-size: 38px;
    text-align: left;
    padding-left: 480px;
    padding-bottom: 10px;
}

.social {

    background-color: #e0dfde;
    height: 420px;
}

.social .boxes {

    display: flex;
    flex-direction: row;
    justify-content: space-around;


}

.box {
    padding-top: 70px;
    text-align: center;
    font-size: 25px;
}

.box img {

    height: 150px;
    width: 150px;

}

.box h4 {
    margin-top: 1px;
    color:red
}

.footer {

        background-color: #39b8c7;
        display: flex;
        justify-content: center;
        align-items: flex-start;

        height: 220px;

}

.footer h4 {

    color:#e0dfde;
    text-align: center;
    font-size: 23px;
}


/* início da tela de login */

.header_login {

    background-color: #06070b;
    border-bottom: 4px solid #39b8c7;
}


.header_login .container {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 15px ;
    padding-left: 15px;
}


.navbar {

    display: flex;
    flex-direction: row;
    gap:25px;

}

.navbar li {

    color:#FFD900B8
;
    list-style: none;

}
.navbar a {
    color:orange;
    text-decoration: none; 
}

.login {

    width: 100%;
    height: 600px;

    background-image: url(../assets/imgs/bg-jelly-fish-para_outras_pags.png);
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

}

.card-card-login {

    background-color:#e2dcdf;
    height: 250px;
    width: 580px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;

    padding-top: 20px;

    color:#E86A7A;
    

}

.card-card-login h2 {

    align-self: center;
    margin-top: 20px;
    font-size: 30px;

}

.formulario {
  
    gap: 1px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: -14px;
}

.campo {
    display: flex;
    flex-direction: column;
    width: 440px;
    color: #E86A7A;
    font-weight: 600;
    margin-bottom: 5px;
}

.card-card-login input {
    height: 35px;
    width: 100%;
    border: 1px solid #39b8c7;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 16px;
    box-sizing: border-box;

    text-align: center;
}

.botao {
    margin-top: 20px;
    padding: 8px 20px;
    background-color: #ff2e63;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;

    width: 140px;
}


.footer_login {

        background-color: #39b8c7;
        display: flex;

        height: 45px;

}

.footer_cadastro {

        background-color: #39b8c7;
        display: flex;

        height: 45px;

}

.card-card-cadastro {

    background-color:#e2dcdf;
    height: 430px;
    width: 580px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;

    padding-top: 20px;

    color:#E86A7A;
    

}

.card-card-cadastro h2 {

    align-self: center;
    margin-top: 20px;
    font-size: 30px;

}

.formulario {
  
    gap: 1px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: -14px;
}

.campo {
    display: flex;
    flex-direction: column;
    width: 440px;
    color: #E86A7A;
    font-weight: 600;
    margin-bottom: 5px;
}

.card-card-cadastro input    {
    height: 35px;
    width: 100%;
    border: 1px solid #39b8c7;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 16px;
    box-sizing: border-box;

    text-align: center;
}

.botao {
    margin-top: 20px;
    padding: 8px 20px;
    background-color: #ff2e63;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;

    width: 140px;
}